click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
Flask-API==1.0

# Testing
nose==1.3.7
pinocchio==0.4.2
rednose==1.2.2

# Code coverage
codecov==2.0.9
coverage==4.4.1

# Database
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.1.5
PyMySQL==0.7.11

# BDD
behave==1.2.5
selenium==3.8.0
requests==2.13.0
